= javascript_include_tag "jquery-1.4.3.min", "rails", "highcharts", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"
= javascript_include_tag "application"
= javascript_include_tag "event_calendar.js"
