= stylesheet_link_tag 'reset', :media => 'screen'
= stylesheet_link_tag '960', :media => 'screen'
= stylesheet_link_tag 'main', :media => 'screen' 
= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/redmond/jquery-ui.css", :media => 'screen' 
-#= stylesheet_link_tag 'event_calendar', :media => 'screen' 
